<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReplayKitSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SampleBroadcastUpload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SampleBroadcastUploadUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D3007151D994D230080CBF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D3007291D994D230080CBF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D3007341D994D230080CBF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D44AC861D9B9FB000BCDE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D44AC921D9B9FB000BCDE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
